<html lang="en" dir="ltr">
<head>
  {% load static %}
  {% include "app1/bootstrap.html"%}
  <link rel="stylesheet" href="{% static 'chessboard.css' %}">
  <meta charset="utf-8">
  </head>
  <body>
    {% include "app1/nav.html" %}
  <center>
    <hr></hr>
    <p>The History of Chess can be followed all the way back to around
      1500 years ago. While the origins themselves might be contested,
    we know for a fact that it originated in South Asia, more
    specifically India. It spread to the Middle East, then Russia
    and finally western europe by the 9th century. Chess as we know
    it today came to be around 1500 CE. There are six different types
    of chess pieces, and each side begins with 16 pieces The
    goal is to capture the other player's king, and both
    sides can capture as many pieces as the other side possess. Chess meta
    has evolved extensively as the years have gone on, with the current
    popular strategy being slow paced, claculated games where both players
    are (hopefully) thinking several steps ahead of the current move. Let's
    dive into the different types of chess pieces present on a modern day
    checkerboard.</p>
    <hr></hr>
    </center>
    </body>
    </html>
