<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% include "app1/bootstrap.html" %}
    <script src="{%static 'chessboard.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-
J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-
Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-
wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'chessboard.css' %}">
    {% include "app1/bootstrap.html" %}
    <meta charset="utf-8">
    <title>CINS 465 Assignment 4</title>
  </head>
  <body onload="initBoard()">
    {% include "app1/nav.html" %}
    <center>
    <h2>Assignment 5: Chessboard with Django Models and Forms</h2>
    <div class="container">
    <table id="t1" border=2 align="center">
      <tr><th></th><th>A</th><th>B</th><th>C</th><th>D</th><th>E</th><th>F</th><th>G</th><th>H</th></tr>
      {% for row in rows %}
      <tr>
        <th>{{ forloop.revcounter }}</th>
        {% for name,value in row.items %}
        <td id="{{name}}">
          {{value}}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}

    </table>

    <hr></hr>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        {{chess_form.as_table}}
        <button type="submit" class="btn btn-success" name="move">Move</button>
      </form>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-info" name="new_game">New Game</button>
      </form>
    </div>
  </center>
  </div>

  </body>
</html>
